<div class="row flex-nowrap">
  <div class="col-auto col-md-0 col-xl-0 px-0">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-blue">
      <button class="btn d-block d-sm-none mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#menuCollapse"
        aria-expanded="false" aria-controls="menuCollapse">
        <i class="bi bi-list fs-4"></i>
      </button>
      <div class="collapse d-sm-block" id="menuCollapse">
        <ul class="nav flex-column align-items-start" id="menu">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-speedometer2 fs-4"></i>
              <span class="ms-1">Dashboard</span>
            </a>
          </li>
          {% if perms.clientes.view_cliente %}
          <li class="nav-item">
            <a href="{% url 'cliente_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-people fs-4"></i>
              <span class="ms-1">Clientes</span>
            </a>
          </li>
          {% endif %}
          {% if perms.motoristas.view_motorista %}
          <li class="nav-item">
            <a href="{% url 'motorista_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-universal-access-circle fs-4"></i>
              <span class="ms-1">Motoristas</span>
            </a>
          </li>
          {% endif %}
          {% if perms.movimentacoes.view_movimentacao %}
          <li class="nav-item">
            <a href="{% url 'movimentacao_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-aspect-ratio fs-4"></i>
              <span class="ms-1">Movimentações</span>
            </a>
          </li>
          {% endif %}
          {% if perms.produtos.view_produto %}
          <li class="nav-item">
            <a href="{% url 'produto_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-box-seam fs-4"></i>
              <span class="ms-1">Produtos</span>
            </a>
          </li>
          {% endif %}
          {% if perms.situacoes.view_situacao %}
          <li class="nav-item">
            <a href="{% url 'situacao_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-tags fs-4"></i>
              <span class="ms-1">Situações</span>
            </a>
          </li>
          {% endif %}
          {% if perms.tiposcargas.view_tipocarga %}
          <li class="nav-item">
            <a href="{% url 'tipocarga_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-boxes fs-4"></i>
              <span class="ms-1">Tipos de Cargas</span>
            </a>
          </li>
          {% endif %}
          {% if perms.veiculos.view_veiculo %}
          <li class="nav-item">
            <a href="{% url 'veiculo_list' %}" class="nav-link px-0 align-middle">
              <i class="bi bi-truck fs-4"></i>
              <span class="ms-1">Veículos</span>
            </a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" id="logout-form" class="nav-link px-0 align-middle">
              {% csrf_token %}
              <button type="submit" class="btn btn-link text-decoration-none text-reset nav-link px-0 align-middle">
                <i class="bi bi-box-arrow-right fs-4 align-middle"></i>
                <span class="ms-1 align-middle">Sair</span>
              </button>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
      <hr>
    </div>
  </div>