services:

    sgm_web:
        build: .
        env_file:
            - .env
        restart: always
        ports:
            - 8000:8000
        depends_on:
            - sgm_db

    sgm_db:
        image: postgres:17
        ports:
            - 5432:5432
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=sgm

volumes:
    postgres_data:
