{% extends 'base.html' %}
{% block title %}SGM - Detalhes do Tipo de Carga{% endblock %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-4">Detalhes do Tipo de Carga</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Nome: {{ object.nome }}</h3>
            <p class="card-text">Descrição: {{ object.descricao|default_if_none:"" }}</p>
            <p class="card-text">Cor: {{ object.cor|default_if_none:"" }}</p>
        </div>
    </div>
    <a href="{% url 'tipocarga_list' %}" class="btn btn-secondary mt-3">Voltar</a>
</div>
{% endblock %}