{% extends 'base.html' %}
{% block title %}SGM - Editar Dados do Cliente{% endblock %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-4">Editar Dados do Cliente</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar Cliente</button>
            </form>
        </div>
    </div>

    <a href="{% url 'cliente_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
</div>
{% endblock %}